@import "../../styles/styles.scss";

.sidebar {
  height: 100vh;

  .header {
    margin: 50px 0px;
    h2 {
      text-align: center;
      margin: 0px;
    }
    h6 {
      text-align: center;
      margin: 0px;
      color: $secondary;
    }
  }

  a {
    display: block;
    padding: 5px 0;
    color: $foreground;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($background, 5%);
    }

    .secondary-link {
      color: $secondary;
      text-decoration: none;
    }
  }
}
